@inherits LayoutComponentBase

<PageTitle>MaxApp</PageTitle>

<div class="page">
    <div class="g-sidenav-show bg-gray-200 g-sidenav-hidden">
        <main>
            <NavMenu />
                
            <div class="main-content position-relative max-height-vh-100 h-100 border-radius-lg" >
                <TopMenu />
                @Body 
            </div>
        </main>
    </div> 
</div>
